@font-face {
  font-family: 'Rozha One';
  src: url('./assets/fonts/RozhaOne-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  font-family: 'Rozha One', serif;
  scroll-snap-type: y proximity;
  scroll-snap-points-y: repeat(100vh);
  overflow-y: auto;
}
.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #eb3da1, #4c23ea);
}

a {
  text-decoration: none;
  color: white;
}
.logo {
  display: flex;
  height: 60px;
  font-size: 20px;
  align-items: center;
}
.logo img {
  height: 40px;
}
.nav-item {
  display: flex;
  align-items: center;
  color: #4c23ea;
}
.nav-item a {
  color: #4c23ea;
}
.nav-item i:hover {
  background: #eb3da1;
}
.nav-item i {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.text {
  display: flex;
  width: 100%;
  height: 12vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: calc(50% - 90px);
  left: 0;
  bottom: 0px;
  z-index: 100;
  background: linear-gradient(0deg, #4c23ea, #4b23ea77, transparent);
}
.text h1 {
  font-size: 4vw;
  font-weight: 400;
  margin: 0;
  height: 4vw;
}
.text span {
  font-size: 2.2vw;
  font-family: 'Poppins';
}
